.navbar {
    font-weight: initial;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    font-variant: normal;
}
.collapse {
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 5px;
}

.container-fluid {
    margin-left: 30px;
    margin-right: 40px;
    margin-top: 5px;
}

.btn {
    font-weight: initial;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    font-variant: normal;
}


/* Оформление основной таблицы */
table {
  border-collapse: collapse;
  width: 100%;
}

/* Стили для заголовка таблицы */
th {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: left;
}

/* Чередование цветов строк */
tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Оформление ячеек таблицы */
td, th {
  border: 1px solid #000000;
  padding: 8px;
}

/* При наведении добавим небольшую анимацию */
tr:hover {
  background-color: #e6e6e6;
  transition: background-color 0.3s ease;
}
.form_add_member {
    text-align: center;
}

.footer {
    background-color: #0c6cd5; /* Цвет фона */
    padding: 20px;
    text-align: center;
}