{% extends "base.html" %}
{% load get %}

{% block content %}
<div class="container">
    <br>
    <br>
    <br>
    <div class="mx-auto bg-opacity-10 border border-light rounded-5 rounded " style="width: 700px;">
        <div class="me-5 ms-5">
            <h2 class="form_add_member mt-4 mb-4">Добавить участника</h2>
            <form action="" method="post" class="mb-4">
                {% csrf_token %}
                <p class="text-danger">{{ error }}</p>
                {% for field in fields %}
                <div class="mb-3">
                    <label for="{{ field }}" class="form-label">{{ field }}:</label>
                    <input type="text" id="{{ field }}" name="{{ field }}"
                           class="form-control">
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
