{% extends "base.html" %}
{% load get %}
{% load static %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="bg-opacity-10 p-5 border border-dark rounded-5 rounded border-opacity-75">
                    <div class="form-group">
                        <label for="firstDropdown">Поле фильтрации:</label>
                        <select class="form-control" id="firstDropdown" name="firstDropdown">
                            {% for field in fields %}
                            <option id="{{ field }}" value="{{ field }}">{{ field }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group mt-3 mb-3">
                        <label>Фильтры для выбранного поля:</label>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" type="button"
                                    aria-haspopup="true" aria-expanded="false">
                                Выберите фильтры
                            </button>
                            <div class="dropdown-menu" id="secondDropdown">
                                <!-- Здесь могут быть фильтры -->
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="thirdDropdown">Поле деления диаграммы:</label>
                        <select class="form-control" id="thirdDropdown" name="thirdDropdown">
                            {% for field in fields %}
                            <option value="{{ field }}">{{ field }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-secondary mt-3">Показать диаграмму</button>
                </div>
            </div>

            <div class="col-md-8">
                <div class="p-5 border border-dark rounded-5 rounded border-opacity-75">
                    <h2 class="mt-4 mb-4 text-center opacity-75">Ваша диаграмма</h2>
                    <hr>
                    {% if filename %}
                    <img class="mx-auto d-block" src="{% static filename %}" alt="Здесь должна быть диаграмма">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</form>


<script>

    $('#firstDropdown').on('change', function () {

        // Получение выбранного значения
        var selectedValue = $(this).val();

        // Очистка и обновление второго списка
        $('#secondDropdown').empty();

        var decodedString = '{{fields}}'.replace(/&#x27;/g, '"').replace(/&lt;/g, '<').replace(/&gt;/g, '>');
        var fields = JSON.parse(decodedString);

        var values = fields[selectedValue];
        values.forEach((element) => {
            $('#secondDropdown').append('<div class="dropdown-item">' +
                '<input type="checkbox" id="' + element + '" class="filter-checkbox" value="' + element +
                '" checked name="filters"><label for="' + element + '">' + element + '</label></div>');
        });

        $('#thirdDropdown').empty();
        for (var element in fields) {
            if (element != selectedValue) {
                $('#thirdDropdown').append('<option value="' + element + '">' + element + '</option>');
            }
        }
        ;
    });

    $('#firstDropdown').change();
</script>
{% endblock %}
