{% extends "base.html" %}
{% load get %}
{% block content %}
{% if error %}
<p>{{ error }}</p>
{% endif %}
{% if new %}
<p>Новых участников добавлено: {{ new }}</p>
{% endif %}
{% if changed %}
<p>Участников обновлено: {{ changed }}</p>
{% endif %}
{% if errors %}
<p>Ошибочных обновлений: {{ errors }}</p>
{% endif %}
<div class="container">
    <br>
    <br>
    <br>
    <div class="mx-auto bg-opacity-10 border border-dark rounded-5 rounded border-opacity-75 px-4"
         style="width: 700px;">
        <div class="container my-5">
            <h2 class="form_add_member mt-4 mb-4 opacity-75">Добавить файл с участниками</h2>
            <hr>
            <form action="" method="post" class="mb-4">
                {% csrf_token %}
                <div class="row justify-content-center">
                    <div class="">
                        <form method="post" enctype="multipart/form-data" class="mb-3">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="file" class="form-label">Выберите файл:</label>
                                <input type="file" name="file" class="form-control" id="file">
                            </div>
                        </form>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Загрузить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
