{% extends "base.html" %}
{% load get %}
{% block content %}
<div class="mx-auto mt-3" style="width: 700px; text-align: center;">
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
    {% if new %}
    <div class="alert alert-success" role="alert">
        Новых участников добавлено: {{ new }}
    </div>
    {% endif %}
    {% if changed %}
    <div class="alert alert-success" role="alert">
        Участников обновлено: {{ changed }}
    </div>
    {% endif %}
    {% if errors %}
    <div class="alert alert-warning" role="alert">
        Ошибочных обновлений: {{ errors }}
    </div>
    {% endif %}
</div>
<div class="container">
    <br>
    <br>
    <br>
    <div class="mx-auto bg-opacity-10 border border-dark rounded-5 rounded border-opacity-75 px-4"
         style="width: 700px;">
        <div class="container my-5">
            <h2 class="form_add_member mt-4 mb-4 opacity-75">Добавить файл с участниками</h2>
            <hr>
            <div class="row justify-content-center">
                <div class="">
                    <form method="post" enctype="multipart/form-data" class="mb-3">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="file" class="form-label">Выберите файл:</label>
                            <input type="file" name="file" class="form-control" id="file">
                        </div>
                        <button type="submit" class="btn btn-info mt-2 mb-2">Добавить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
