{% extends "base.html" %}
{% load get %}
{% block content %}
<div class="my-5 mx-5">
    <button id="downloadButton" class="btn btn-primary mb-3">Выгрузить данные</button>
    <table class="tabledata" id="dataTable">
        <thead>
        <tr>
            {% for header, meta in headers.items %}
            <th>
                {% if meta.filter == 1 %}
                <div class="dropdown" id="{{header}}">
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        {{header}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="filterDropdown">
                        {% for value in meta.select %}
                        <!-- Filter options go here -->
                        <div class="dropdown-item" onclick="updateTable()">
                            <input type="checkbox" id="{{value}}" class="filter-checkbox" value="{{value}}" checked>
                            <label for="{{value}}">{{ value }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                {% else %}
                {{ header }}
                {% endif %}
            </th>
            {% endfor %}
        </tr>
        </thead>
        <div class="mx-auto bg-opacity-10 border border-dark rounded-5 rounded border-opacity-75">
            <tbody class="mx-auto bg-opacity-10 border border-dark rounded-5 rounded border-opacity-75"
                   id="table-container">
            {% for item in data %}
            <tr data-href="{% url 'table-view' %}">
                {% for header, meta in headers.items %}
                <td>{{ item|get:header }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </div>
    </table>
</div>
<script>document.getElementById('downloadButton').addEventListener('click', function() {
    // Получение данных из таблицы
    var table = document.getElementById('dataTable');
    var rows = table.querySelectorAll('tbody tr');
    var data = [];

    rows.forEach(function(row) {
        var rowData = [];
        row.querySelectorAll('td').forEach(function(cell) {
            rowData.push(cell.textContent);
        });
        data.push(rowData);
    });
    var params = "data=" + JSON.stringify(data);    console.log(params);
    // Создание запроса к серверу
    console.log(params);
    var xhr = new XMLHttpRequest();
    xhr.open('POST', 'download/', true);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken')); // Добавляем CSRF токен

    xhr.onload = function() {
        if (xhr.status === 200) {
            // Создание временной ссылки для скачивания файла
            var a = document.createElement('a');
            a.href = window.URL.createObjectURL(new Blob([xhr.response], { type: 'text/csv' }));
            a.download = 'data.csv';
            a.style.display = 'none';
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        }
    };

    // Отправка данных на сервер
    xhr.send(params);
});
function getCookie(name) {
    var value = "; " + document.cookie;
    var parts = value.split("; " + name + "=");
    if (parts.length == 2) return parts.pop().split(";").shift();
}
function updateTable() {
    var filterValues = {};

    $('.filter-checkbox').each(function () {
        var dropdownId = $(this).closest('.dropdown').attr('id');

        if (!filterValues[dropdownId]) {
            filterValues[dropdownId] = '';
        }

        if ($(this).is(':checked')) {
            filterValues[dropdownId] += ';' + this.value;
        }
    });

    console.log(filterValues);

    $.ajax({
        type: "GET",
        url: "{% url 'table-view' %}",
        data: filterValues,
        success: function (data) {
            console.log(data);
            $("#table-container").html(data.table_html);
        },
        error: function (xhr, status, error) {
            console.error("Error updating table: " + error);
        }
    });
}
</script>
{% endblock %}