<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Таблица</title>
</head>
<body>
<h1>Table Example</h1>
<table border="1">
    <thead>
    <tr>
        {% for header in headers %}
        <th>{{ header }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for item in data %}
    <tr>
        {% for header in headers %}
        {{header}}
        <td>{{ item.get(header) }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>